

.fondo-intro
  background-image: url('../assets/curso/fondo-intro.png')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  justify-content: end

.fondo-tema1-1
  background: url('../assets/curso/tema1/bg-1.svg')
  background-position: right center
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-tema1-2
  background: url('../assets/curso/tema1/bg-2.svg')
  background-position: bottom
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  


.contenedor-transparente
  padding-inline: 3rem
  padding-top: 4rem
  padding-bottom: 4rem
  background-color: #ffffff2c

.cajon.color-acento-contenido
  background-color: #FEFAF7
.img-infografica.color-secundario .img-infografica__item__dot:before,  .img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #EF6C00

.round--number
  width: 50px
  height: 50px
  background-color: white
  border: 3px solid #EF6C00
  border-radius: 999px
  p 
    font-size: 25px
    font-weight: 800
    text-align: center
    padding-top: 3px


@media screen and ( max-width: 576px) 
  .fondo-intro
    justify-content: center
    background-size: cover
    .contenedor-transparente
      text-align: center
      padding-inline: 2rem
      padding-top: 3rem
      padding-bottom: 3rem
      background-color: #ffffff18
  
  .fondo-tema1-1, .fondo-tema1-2
    margin-inline: 0rem