

.fondo-intro
  background-image: url('../assets/curso/fondo-intro.png')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  justify-content: end

.fondo-tema1-1
  background: url('../assets/curso/tema1/bg-1.svg')
  background-position: right center
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-tema1-2
  background: url('../assets/curso/tema1/bg-2.svg')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-tema1-3
  background: url('../assets/curso/tema1/bg-3.svg')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-tema1-4
  background: url('../assets/curso/tema1/bg-4.svg')
  background-position: bottom
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-tema1-5
  background: url('../assets/curso/tema1/bg-5.png')
  background-position: top
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-tema1-6
  background: url('../assets/curso/tema1/bg-6.svg')
  background-position: left center
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-tema2-1
  background: url('../assets/curso/tema2/bg-1.svg')
  background-position: right top
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem
  

.fondo-gradiente
  background: linear-gradient(180deg,#fff,#DAD7F6)
  margin-inline: -3.4rem
.fondo-gradiente2
  background: linear-gradient(180deg,#F3F2FA,#F3F2FA)
  margin-inline: -3.4rem

.fondo-t1
  background-image: url('../assets/curso/tema1/fondo-t1.png')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  justify-content: end

.contenedor-transparente
  padding-inline: 3rem
  padding-top: 4rem
  padding-bottom: 4rem
  background-color: #ffffff2c

.cajon.color-acento-contenido
  background-color: #FEFAF7
.img-infografica.color-secundario .img-infografica__item__dot:before,  .img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #EF6C00

.round--number
  width: 50px
  height: 50px
  background-color: white
  border: 3px solid #EF6C00
  border-radius: 999px
  p 
    font-size: 25px
    font-weight: 800
    text-align: center
    padding-top: 3px

.bg-slider1
  background-image: url(../assets/curso/tema1/bg-slider1.png)
  background-repeat: no-repeat
  background-size: cover
.bg-slider2
  background-image: url(../assets/curso/tema1/bg-slider2.png)
  background-repeat: no-repeat
  background-size: cover

button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus
  background-color: #ffffff2c
  color: #12263F


.triangulo-der
  padding: 2rem
  position: relative
  //background-color: #8a7cbf   
  &::after
    content: ""
    position: absolute
    display: block
    z-index: 2
    right: 0%
    top: 50%
    bottom: 0%
    transform: translateX(100%) translateY(-50%)
    width: 0%
    height: 0%
    border-left: 50px solid #8A7CBF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent
.triangulo-der2
  padding: 2rem
  position: relative
  //background-color: #FCECDF   
  &::after
    content: ""
    position: absolute
    right: 1%
    top: 50%
    bottom: 0%
    transform: translateX(100%) translateY(-50%)
    width: 0%
    height: 0%
    border-left: 50px solid #FCECDF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent
    z-index: 2
    display: block


.triangulo-izq
  background-color: #8A7CBF
  display: flex
  position: relative
  padding-top: 2rem
  padding-bottom: 2rem
  padding-inline: 4rem
  p
    z-index: 1
  &::before
    content: ""
    position: absolute
    top: 50%
    bottom: 0%
    left: 0%
    transform: translateX(-100%) translateY(-50%)
    width: 0%
    height: 0%
    border-right: 50px solid #8A7CBF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent
    z-index: 2
    display: block

.triangulo-izq2
  background-color: #8A7CBF
  position: relative
  padding: 2rem
  display: flex
  p
    z-index: 1
  &::before
    content: ""
    position: absolute
    top: 50%
    bottom: 0%
    left: 0%
    transform: translateX(-100%) translateY(-50%)
    width: 0%
    height: 0%
    border-right: 50px solid #8A7CBF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent
    z-index: 2
    display: block

.tarjeta-numerada
  border-radius: 0
.tarjeta-numerada.color-acento-contenido
    border-color: #f6f6f6
    border-top: 0
    border-left: 0
    border-right: 0

.bg-cajon
  background-image: url(../assets/curso/tema1/bg-cajon.svg)
  background-repeat: no-repeat
  background-size: auto
  background-position: center


.tarjeta-flip.color-primario .tarjeta-flip__img
  background-color: #ffffff00
  -webkit-box-shadow: 0px 0px 15px -6px #000000
  box-shadow: 0px 0px 15px -6px #000000
  background-size: auto
  background-repeat: no-repeat
  background-position: center

.tarjeta-avatar
  padding-top: 40px
.tarjeta-avatar .tarjeta 
  padding-top: 20px !important
  width: 100%


.linea-tiempo-b.color-primario .linea-tiempo-b__icon
  background-color: #ffffff2d
  border: 2px solid
  border-color: #27DBF0

.linea-tiempo-b__icon img 
  width: 95%

.linea-tiempo-b.color-primario .linea-tiempo-b__icon:after
  background-color: #27DBF0

.linea-tiempo-b.color-secundario .linea-tiempo-b__icon
  background-color: #ffffff2d
  border: 2px solid
  border-color: #27DBF0

.linea-tiempo-b.color-secundario .linea-tiempo-b__icon:after
  background-color: #27DBF0


.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after
    background-color: #3e2ea673

.tarjeta--azul
    background-color: #fff
    background-image: url(../assets/curso/tema2/bg-slyde.svg)
    background-repeat: no-repeat
    background-size: cover

.slyder-a__bullets 
  bottom: -10px
    
.bloque-texto-b.color-primario:before 
  background-color: #3e2ea609

.bloque-texto-b:before 
    top: 30%
    bottom: 20px
    left: 25%

//imagens
.custom-img1
  width: 230px


/////teclados
.round--number
  width: 50px
  height: 50px
  background-color: #57DBD8
  //border: 3px solid #57DBD8
  border: none
  border-radius: 999px
  color: #ffff
  cursor: pointer
  p 
    font-size: 25px
    font-weight: 800
    text-align: center
    padding-top: 5px

.round--number:hover
  opacity: 0.6
  //background-color: #ffffff2c
.botones.active
  background-color: #ccc
.bloque
  display: none
.bloque2
  display: none

.activo 
  display: block

.info-teclado
  display: flex
  align-items: center
  height: 135px
  background-color:#F6F6F6
  padding-top: 1.5rem
  padding-bottom: 1.5rem
  padding-right: 1.5rem
  padding-left: 2.4rem














@media screen and ( max-width: 576px) 
  .fondo-intro, .fondo-t1
    justify-content: center
    background-size: cover
    .contenedor-transparente
      text-align: center
      padding-inline: 2rem
      padding-top: 3rem
      padding-bottom: 3rem
      background-color: #ffffff18
  

@media screen and ( max-width: 992px)
  .custom-img1
    width: 150px
  .fondo-tema1-1, .fondo-tema1-3, .fondo-tema1-5, .fondo-tema1-6, .fondo-tema2-1
    margin-inline: -1.4rem
  .fondo-tema1-2, .fondo-tema1-4
    margin-inline: -1.4rem
    background-size: cover
  .fondo-tema1-4
    margin-inline: -1.4rem
    background-size: cover
  .bg-cajon
    background-size: cover
    text-align: center
    
  .triangulo-der
    padding-left: 2rem
    &::after
      padding: 0
      right: 0%
      top: 0%
      bottom: 0%
      transform: translateX(0%) translateY(0%)
      width: 0%
      height: 0%
      border-left: 0px solid #8A7CBF
      border-top: 0px solid transparent
      border-bottom: 0px solid transparent
  
  .triangulo-der2
    padding-left: 2rem
    &::after
      padding: 0
      right: 0%
      top: 0%
      bottom: 0%
      transform: translateX(0%) translateY(0%)
      width: 0%
      height: 0%
      border-left: 0px solid #FCECDF
      border-top: 0px solid transparent
      border-bottom: 0px solid transparent
  
  .triangulo-izq
    background-color: #8A7CBF
    position: relative
    padding-top: 2rem
    padding-bottom: 2rem
    padding-inline: 2rem
    p
      z-index: 1
    &::before
      content: ""
      position: relative
      top: 0%
      left: 40%
      width: 0%
      height: 0%
      border-left: 0px solid transparent
      border-bottom: 0px solid #8A7CBF
      border-right: 0px solid transparent
      z-index: 2
  .triangulo-izq2 
    padding: 2rem
    display: block
    //padding-right: 2rem
    &::before
      padding: 0
      right: 0%
      top: 0%
      bottom: 0%
      transform: translateX(0%) translateY(0%)
      width: 0%
      height: 0%
      border-left: 0px solid #8A7CBF
      border-top: 0px solid transparent
      border-bottom: 0px solid transparent
  
  .fondo-gradiente, .fondo-gradiente2
    margin-inline: -1.4em
  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    top: 100%